#container{
    border: 3px solid black;
}

header{
    background-color: #b588e7;
    text-align: center;
    padding: 1px;
    border: 4px solid white;
}

#sidebar{
    background-color: #e3b957;
    padding: 10px;
    text-align: center;
    width: 25%;
    height: 508px;
    border: 4px solid white;
}

#main{
    background-color: #a7dc8a;
    text-align: center;
    height: 300px;
    border: 4px solid white;
}

#widget{
    background-color: #eb867c;
    text-align: center;
    flex-direction: row;
    width: 50%;
    height: 220px;
    border: 4px solid white;
}

#statistics{
    background-color: #91b7e8;
    text-align: center;
    width:50%;
    border: 4px solid white;
}

footer{
    background-color: #b588e7;
    text-align: center;
    padding: 1px;
    border: 4px solid white;
}

.kozepsoresz{
   display: flex;
}

#jobboldali{
width: 75%;
}

#kisresz{
    display: flex;
}

@media only screen and (max-width: 900px){

.kozepsoresz{
    flex-direction: column;
    width: 900px;
}

#jobboldali{
    flex-direction: column;
    width: 900px;
}

#kisresz{
    flex-direction: column;
    width: 900px;
}

footer{
    width: 900px;
}

header{
    width: 900px;
}

#sidebar{
    width: 900px;
    height: 60px;
}

#main{
    width: 900px;
    height: 270px;
}

#widget{
    width: 900px;
    height: 140px;
}

#statistics{
    width: 900px;
    height: 140px;
}

#container{
    width: 100%;
    justify-content: space-evenly;
}

}